body {
	background-color: black;
}

h1 {
	color: white;
	font-size: 72px;
	font-family: "Courier New", monospace;
	text-align: center;
	font-weight: bold;
}

h6 {
	color: white;
	font-size: 16px;
	font-family: "Courier New", monospace;
	text-align: left;
	font-weight: bold;
}

h3 {
	color: white;
	font-size: 40px;
	font-family: "Courier New", monospace;
	text-align: left;
	font-weight: bold;
}

p {
	color: white;
	font-size: 16px;
	font-family: "Courier New", monospace;
	text-align: left;
	font-weight: normal;
}
.comment {
	color: green;
	padding-left: 50px;
}
.tabbed {
	padding-left: 50px;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
.navbar li {
	display: inline;
	float: left;
	border-right: 1px solid white;
}
.navbar li:last-child {
	border-right: none;
}
.navbar li a {
	display: block;
	color: white;
	font-weight: bold;
	font-size: 28px;
	font-family: "Courier New", monospace;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar li a:hover {
	background-color: #222222;
}

.active {
	background-color: magenta;
}

input {
	background-color: black;
	color: white;
	font-family: "Courier New", monospace;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid black;
}
input:hover {
	background-color: #222222;
}

button {
	background-color: black;
	color: white;
	font-family: "Courier New", monospace;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid black;
}
button:hover {
	background-color: #222222;
}
button:active {
	background-color: magenta;
}

hr {
	color: green;
}
